<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recupera tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor" text-center>
  <form action="">
    <!-- En este apartado se aplica Angular material en el label, el input y en el boton de recuperar contraseña -->
    <div class="label">
    <mat-form-field class="full-width">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput placeholder="" value="" [(ngModel)]="username" name="username" required>
    </mat-form-field>
  </div>
  <div class="recovery-button">
    <button mat-raised-button color="primary" name="username" expand="block" type="submit" [disabled]="!username" (click)="submitForm()">Recuperar</button>
  </div>
</form>
</div>
</ion-content>

