<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recupera tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor ion-padding" text-center>
  <form action="">
    <!-- En este apartado se aplica Angular material en el label, el input y en el boton de recuperar contraseña -->
    <div class="label">
      <ion-input label="Nombre de Usuario" label-placement="floating" fill="outline" placeholder=""[(ngModel)]="username" name="username" required></ion-input>
  </div>
  <div>
    <ion-button color="primary" name="username" expand="full" [disabled]="!username" (click)="submitForm()">Recuperar</ion-button>
  </div>
</form>
</div>
</ion-content>

