<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form>
    <mat-form-field class="full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>
    <ion-button mat-button>Iniciar sesion</ion-button>
  </form>

  <div class="reset-password">
    <a>¿Olvidaste tu contraseña?</a>
  </div>
</ion-content>
