.contenedor{
    margin-top: 20px;
}

ion-title{
    text-align: center;
}

.label-input{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.login-button{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.forgot-password{
    margin-top: 10px;
    text-align: center;
    font-size: small;
}

